{% block answersblock %}

<h4>Варианты ответов:</h4>
{% if question.qtype == "LL" %}
    <table border="1">
        <tr>
            <th align="center">Порядок</th>
            <th align="center">Вопрос</th>
            <th align="center">Порядок вариантов</th>
            <th align="center">Вариант</th>
            <th align="center">Оценка</th>
        </tr>
    {% for answer in answers %}
        <tr>
            <td>{% if answer.ordernum %}{{answer.ordernum}}{% else %}-{% endif %}</td>
            <td>{{answer.content}}</td>
            <td align="center">{% if answer.ordernumitem %}{{answer.ordernumitem}}{% else %}-{% endif %}</td>
            <td>{{answer.linkeditem}}</td>
            <td align="center">{{answer.score}}</td>
        </tr>
    {% endfor%}
    </table>

{% else %}
    <table border="1">
        <tr>
            <th>Порядок</th>
            <th>Текст ответа</th>
            <th>Оценка</th>
        </tr>
    {% for answer in answers %}
        <tr>
            <td>{% if answer.ordernum %}{{answer.ordernum}}{% else %}-{% endif %}</td>
            <td>{{answer.content}}</td>
            <td>{{answer.score}}</td>
        </tr>
    {% endfor%}
    </table>
{% endif %}

{% endblock %}
