{% extends 'home.htm' %}
{% block mainblock %}
    <h2>Вопросы</h2>
    <table border="1">
        <tr>
            <th>Public</th>
            <th>Название</th>
            <th>Текст</th>
            <th>Тип</th>
            <th>Владелец</th>
            <th>Действия</th>
        </tr>
{% for question in questions %}
        <tr>
            <td>{% if question.public %} Да {% else %} Нет {% endif %}</td>
            <td>{{question.name}}</td>
            <td>{{question.description}}</td>
            <td>{{question.get_qtype_display}}</td>
            <td>{{question.owner}}</td>
            <td>
                <a href="./answersbyquestion/{{question.id}}">View</a>
                <a href="./answersbyquestion/{{question.id}}">Edit</a>
                <a href="./answersbyquestion/{{question.id}}">Delete</a>
            </td>
        </tr>
{% endfor %}
    </table>
{% endblock %}
