{% extends 'home.htm' %}
{% block mainblock %}
    <h2>Вопросы</h2>

<form action="{% url 'questions:index' %}" method="post">
    {% csrf_token %}

    {% block resultblock %}
        {{questions_filter_block}}
    {% endblock %}

    <table border="1">
        <tr bgcolor="cyan">
            <th>Public</th>
            <th>Название</th>
            <th>Текст</th>
            <th>Тип</th>
            <th>Владелец</th>
            <th>Организация</th>
            <th>Действия</th>
        </tr>
    {% for question in questions %}
        <tr{% if not question.active %} bgcolor="gray"{% endif %}>
            <td>{% if question.public %} Да {% else %} Нет {% endif %}</td>
            <td>{{question.name}}</td>
            <td>{{question.description}}</td>
            <td>{{question.get_qtype_display}}</td>
            <td>{{question.owner}}</td>
            <td>{{question.division}}</td>
            <td>
                <a href="{% url 'questions:answersbyquestion' question.id %}">View</a>
                {% if question.active %}
                    <a href="./answersbyquestion/{{question.id}}">Edit</a>
                    <a href="./answersbyquestion/{{question.id}}">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
</form>
{% endblock %}
