{% extends 'home.htm' %}
{% block mainblock %}

{% if person %}
    <h3>Вы вошли как {{person}}!</h3>
    <h4>Выберите другую Личность:</h4>

    <form action="{% url 'clients:aka' %}" method="post">
        {% csrf_token %}
        <table border="0">
    {% for iperson in persons %}
        <tr><td>
            <input type="radio" name="choice" id="choice{{iperson.id}}" value="{{iperson.id}}"
                   {% if iperson.id == person.id %} checked {% endif %}
            />
            <label for="choice{{iperson.id}}">{{iperson.shortname}}</label> <i>(в {{iperson.division}})</i>
        </td></tr>
    {% endfor %}
        </table>

    <hr border-color="#7b6b6b">

    <div class="page-footer">
        <input type="submit" value="Ok" name="Ok">
    </div>

    </form>

{% else %}
    <h3>Войдите как пользователь сайта, чтобы получить больше возможностей!</h3>
{% endif %}


{% endblock %}
