{% block answersblock %}

<h3>Варианты ответов:</h3>
<table border="1">
    <tr bgcolor="#FFA500">
        <th>Порядок</th>
        <th>Вопрос</th>
        <th>Тип вопроса</th>
        <th>Владелец</th>
        <th>Организация</th>
    </tr>
{% for qcontent in qcontents %}
    <tr>
        <td>{% if qcontent.ordernum %}{{qcontent.ordernum}}{% else %}-{% endif %}</td>
        <td><a href="{% url 'querylists:editqcontent' qcontent.id %}">{{qcontent.question.name}}</a></td>
        <td>{{qcontent.question.get_qtype_display}}</td>
        <td>{{qcontent.question.owner}}</td>
        <td>{{qcontent.question.division}}</td>
    </tr>
{% endfor%}
</table>

{% endblock %}
